@font-face {
    font-family: "Poetsen One";
    src: url("/fonts/PoetsenOne-Regular.ttf");
}

body {
    font-family: sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url("/img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
}

#logo {
    height: 1em;
    position: relative;
    top: 5px;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.4));
}

h1 {
    margin: 0;
    font-size: 4rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
    font-family: "Poetsen One";
    font-weight: normal;
}

#title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

button {
    border-radius: 4px;
    padding: 1rem 2rem;
    cursor: pointer;
    transition-duration: 100ms;
}

button:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

button:active {
    filter: brightness(0.9);
}

button.secondary {
    background-color: white;
    border: 1px solid #04aa6d;
}

button.primary {
    background-color: #04aa6d;
    border: none;
}

