body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F9F9;
}

.loading * {
    pointer-events: none;
}

.loading #chart, .loading table {
    opacity: 50%;
}

.loading select, .loading input {
    color: rgba(0, 0, 0, 0.3);
}

#container {
    margin: 0 2rem;
}

#table-wrapper {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDD;
    margin-bottom: 2rem;
    background-color: white;
}

#filters {
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
}

#filters > * {
    display: flex;
    gap: 1rem;
    align-items: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #616161;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    transition: opacity ease-in 100ms;
}

td,
th {
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    text-align: left;
    padding: 8px;
}

th {
    border-bottom: 2px solid #DDD;
}

tr:nth-child(even) {
    background-color: #F5F5F5;
}

table .temperature {
    text-align: center;
    color: white;
    font-weight: bold;
    width: 20px;
}
table tr:not(:last-child) .temperature {
    border-bottom-color: white;
}

.tempHigh {
    background-color: #ff0000;
}
.tempMidHigh {
    background-color: #FFA000;
}
.tempNormal {
    background-color: #AAA;
}
.tempMidLow {
    background-color: #64B5F6;
}
.tempLow {
    background-color: #3F51B5;
}

.low-limit {
    color: #3F51B5;
}
.high-limit {
    color: #F00;
}

.chart-container {
    margin: 2rem 0;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #DDD;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#chart {
    width: 100%;
    height: 400px;
    transition: opacity ease-in 100ms;
}

#error {
    margin: 2rem;
}

#view-more {
    display: none;
    text-align: center;
    padding: 0.5rem;
    color: #616161;
    background-color: white;
    cursor: pointer;
    transition-duration: 100ms;
}

#view-more:hover {
    color: #212121;
}

#view-more:active {
    background-color: #FCFCFC;
}

.form-control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 0.85rem;
    padding-left: 0.2rem;
    color: #616161;
}

select, input {
    background-color: white;
    color: #424242;
    border: 1px solid #DDD;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    transition: color ease-in 100ms;
}

select:focus, input:focus {
    border-color: #1E88E5;
}

#period-templates {
    display: flex;
    gap: 1rem;
}

.period-template {
    font-size: 0.85rem;
    color: #616161;
    cursor: pointer;
    transition-duration: 100ms;
}

.period-template:hover {
    color: #212121;
}

